# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

#Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
ZJMemoryProfilerDemo/Pods/Manifest.lock
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/LICENSE
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/README.md
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTracker.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerDefines.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerFunctors.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerHelpers.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerImpl.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerImpl.mm
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerManager.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerManager.mm
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerSummary.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/FBAllocationTrackerSummary.m
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/NSObject+FBAllocationTracker.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/NSObject+FBAllocationTracker.mm
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/Generations/FBAllocationTrackerGeneration.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/Generations/FBAllocationTrackerGeneration.mm
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/Generations/FBAllocationTrackerGenerationManager.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/Generations/FBAllocationTrackerGenerationManager.mm
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/Generations/FBAllocationTrackerNSZombieSupport.h
ZJMemoryProfilerDemo/Pods/FBAllocationTracker/FBAllocationTracker/Generations/FBAllocationTrackerNSZombieSupport.mm
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/LICENSE
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/README.md
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/FBMemoryProfiler.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/FBMemoryProfiler.mm
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/FBMemoryProfilerPresentationModeDelegate.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerDataSource.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerDataSource.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerFloatingButtonController.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerFloatingButtonController.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerPresenting.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerSectionHeaderDelegate.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerViewController.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Controllers/FBMemoryProfilerViewController.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Options/FBMemoryProfilerOptions.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Options/FBMemoryProfilerOptions.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Options/FBMemoryProfilerPluggable.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/RetainCycles/FBRetainCycleAnalysisCache.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/RetainCycles/FBRetainCycleAnalysisCache.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/RetainCycles/FBRetainCyclePresenter.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/RetainCycles/FBRetainCyclePresenter.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/RetainCycles/FBSingleRetainCycleViewController.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/RetainCycles/FBSingleRetainCycleViewController.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/UI/FBMemoryProfilerSegmentedControl.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/UI/FBMemoryProfilerSegmentedControl.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/UI/FBMemoryProfilerTextField.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/UI/FBMemoryProfilerTextField.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Utils/FBMemoryProfilerDeviceUtils.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Utils/FBMemoryProfilerDeviceUtils.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Utils/FBMemoryProfilerMathUtils.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Utils/FBMemoryProfilerMathUtils.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Views/FBMemoryProfilerGenerationsSectionHeaderView.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Views/FBMemoryProfilerGenerationsSectionHeaderView.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Views/FBMemoryProfilerView.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Views/FBMemoryProfilerView.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Window/FBMemoryProfilerContainerViewController.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Window/FBMemoryProfilerContainerViewController.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Window/FBMemoryProfilerMovableViewController.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Window/FBMemoryProfilerWindow.h
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Window/FBMemoryProfilerWindow.m
ZJMemoryProfilerDemo/Pods/FBMemoryProfiler/FBMemoryProfiler/Window/FBMemoryProfilerWindowTouchesHandling.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/LICENSE
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/README.md
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/FBRetainCycleUtils.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/FBRetainCycleUtils.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Associations/FBAssociationManager.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Associations/FBAssociationManager.mm
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Associations/Internal/FBAssociationManager+Internal.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Detector/FBNodeEnumerator.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Detector/FBNodeEnumerator.mm
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Detector/FBRetainCycleDetector+Internal.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Detector/FBRetainCycleDetector.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Detector/FBRetainCycleDetector.mm
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Filtering/FBStandardGraphEdgeFilters.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Filtering/FBStandardGraphEdgeFilters.mm
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectGraphConfiguration.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectGraphConfiguration.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectiveCBlock.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectiveCBlock.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectiveCGraphElement.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectiveCGraphElement.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectiveCObject.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/FBObjectiveCObject.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/Internal/FBObjectiveCGraphElement+Internal.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/Specialization/FBObjectiveCNSCFTimer.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Graph/Specialization/FBObjectiveCNSCFTimer.mm
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Blocks/FBBlockInterface.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Blocks/FBBlockStrongLayout.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Blocks/FBBlockStrongLayout.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Blocks/FBBlockStrongRelationDetector.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Blocks/FBBlockStrongRelationDetector.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/FBClassStrongLayout.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/FBClassStrongLayout.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/FBClassStrongLayoutHelpers.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/FBClassStrongLayoutHelpers.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Parser/FBParsedStruct.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Parser/FBParsedStruct.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Parser/FBParsedType.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Parser/FBParsedType.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Parser/FBStructEncodingParser.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Parser/FBStructEncodingParser.mm
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Reference/FBIvarReference.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Reference/FBIvarReference.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Reference/FBObjectInStructReference.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Reference/FBObjectInStructReference.m
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/FBRetainCycleDetector/Layout/Classes/Reference/FBObjectReference.h
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/fishhook/fishhook.c
ZJMemoryProfilerDemo/Pods/FBRetainCycleDetector/fishhook/fishhook.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTracker.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerDefines.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerFunctors.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerGeneration.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerGenerationManager.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerHelpers.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerImpl.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerManager.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerNSZombieSupport.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/FBAllocationTrackerSummary.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBAllocationTracker/NSObject+FBAllocationTracker.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfiler.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerContainerViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerDataSource.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerDeviceUtils.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerFloatingButtonController.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerGenerationsSectionHeaderView.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerMathUtils.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerMovableViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerOptions.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerPluggable.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerPresentationModeDelegate.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerPresenting.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerSectionHeaderDelegate.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerSegmentedControl.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerTextField.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerView.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerWindow.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBMemoryProfilerWindowTouchesHandling.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBRetainCycleAnalysisCache.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBRetainCyclePresenter.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBMemoryProfiler/FBSingleRetainCycleViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBAssociationManager+Internal.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBAssociationManager.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBBlockInterface.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBBlockStrongLayout.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBBlockStrongRelationDetector.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBClassStrongLayout.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBClassStrongLayoutHelpers.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBIvarReference.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBNodeEnumerator.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectGraphConfiguration.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectInStructReference.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectiveCBlock.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectiveCGraphElement+Internal.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectiveCGraphElement.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectiveCNSCFTimer.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectiveCObject.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBObjectReference.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBParsedStruct.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBParsedType.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBRetainCycleDetector+Internal.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBRetainCycleDetector.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBRetainCycleUtils.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBStandardGraphEdgeFilters.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/FBStructEncodingParser.h
ZJMemoryProfilerDemo/Pods/Headers/Private/FBRetainCycleDetector/fishhook.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBAllocationTracker/FBAllocationTracker.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBAllocationTracker/FBAllocationTrackerDefines.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBAllocationTracker/FBAllocationTrackerManager.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBAllocationTracker/FBAllocationTrackerSummary.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfiler.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerContainerViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerDataSource.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerDeviceUtils.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerFloatingButtonController.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerGenerationsSectionHeaderView.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerMathUtils.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerMovableViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerOptions.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerPluggable.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerPresentationModeDelegate.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerPresenting.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerSectionHeaderDelegate.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerSegmentedControl.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerTextField.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerView.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerWindow.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBMemoryProfilerWindowTouchesHandling.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBRetainCycleAnalysisCache.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBRetainCyclePresenter.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBMemoryProfiler/FBSingleRetainCycleViewController.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBAssociationManager.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBObjectGraphConfiguration.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBObjectiveCBlock.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBObjectiveCGraphElement.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBObjectiveCNSCFTimer.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBObjectiveCObject.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBParsedStruct.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBParsedType.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBRetainCycleDetector.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBStandardGraphEdgeFilters.h
ZJMemoryProfilerDemo/Pods/Headers/Public/FBRetainCycleDetector/FBStructEncodingParser.h
ZJMemoryProfilerDemo/Pods/Pods.xcodeproj/project.pbxproj
ZJMemoryProfilerDemo/Pods/Target Support Files/FBAllocationTracker/FBAllocationTracker-dummy.m
ZJMemoryProfilerDemo/Pods/Target Support Files/FBAllocationTracker/FBAllocationTracker-prefix.pch
ZJMemoryProfilerDemo/Pods/Target Support Files/FBAllocationTracker/FBAllocationTracker-Private.xcconfig
ZJMemoryProfilerDemo/Pods/Target Support Files/FBAllocationTracker/FBAllocationTracker.xcconfig
ZJMemoryProfilerDemo/Pods/Target Support Files/FBMemoryProfiler/FBMemoryProfiler-dummy.m
ZJMemoryProfilerDemo/Pods/Target Support Files/FBMemoryProfiler/FBMemoryProfiler-prefix.pch
ZJMemoryProfilerDemo/Pods/Target Support Files/FBMemoryProfiler/FBMemoryProfiler-Private.xcconfig
ZJMemoryProfilerDemo/Pods/Target Support Files/FBMemoryProfiler/FBMemoryProfiler.xcconfig
ZJMemoryProfilerDemo/Pods/Target Support Files/FBRetainCycleDetector/FBRetainCycleDetector-dummy.m
ZJMemoryProfilerDemo/Pods/Target Support Files/FBRetainCycleDetector/FBRetainCycleDetector-prefix.pch
ZJMemoryProfilerDemo/Pods/Target Support Files/FBRetainCycleDetector/FBRetainCycleDetector-Private.xcconfig
ZJMemoryProfilerDemo/Pods/Target Support Files/FBRetainCycleDetector/FBRetainCycleDetector.xcconfig
ZJMemoryProfilerDemo/Pods/Target Support Files/Pods/Pods-acknowledgements.markdown
ZJMemoryProfilerDemo/Pods/Target Support Files/Pods/Pods-acknowledgements.plist
ZJMemoryProfilerDemo/Pods/Target Support Files/Pods/Pods-dummy.m
ZJMemoryProfilerDemo/Pods/Target Support Files/Pods/Pods-resources.sh
ZJMemoryProfilerDemo/Pods/Target Support Files/Pods/Pods.debug.xcconfig
ZJMemoryProfilerDemo/Pods/Target Support Files/Pods/Pods.release.xcconfig
